<nav class="continer">
    <div class=" logo">
        <h1>CSS Logo </h1>
    </div>
    <div class="menu">
        <ul class="main-menu">
            <li><a href="#" >Home</a></li>
            <li><a href="#" >Products</a></li>
            <li><a href="#" >Add Products</a></li>
        </ul>
    </div>
    <div class="dis-menu">
        <ul class="dis-menu-2">
            <li><a href="#" >About</a></li>
            <li><a href="#" >Sign In</a></li>
        </ul>
    </div>

    <nav class="navbar">
        <div class="hamburger-menu" >
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
        </div>
        <ul class="nav-list">
            <li class="nav-item"><a  class="nav-link" href="#" >Home</a></li>
            <li class="nav-item"><a  class="nav-link" href="#" >Products</a></li>
            <li class="nav-item"><a  class="nav-link" href="#" >Add Products</a></li>
            <li class="nav-item"><a  class="nav-link" href="#" >About</a></li>
            <li class="nav-item"><a class="nav-link" href="#" >Sign In</a></li>
        </ul>
        
    </nav>
</nav>


<!-- <div class="container">
    
    <nav class="navbar">
        <div class="hamburger-menu" >
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
        </div>
        <ul class="nav-list">
            <li class="nav-item"><a  class="nav-link" href="#" >Home</a></li>
            <li class="nav-item"><a  class="nav-link" href="#" >Products</a></li>
            <li class="nav-item"><a class="nav-link" href="#" >Sign In</a></li>
        </ul>
        
    </nav>
</div> -->

<!-- <div class="container">
    
    <nav class="navbar">
        <div class="hamburger-menu" >
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
        </div>
        <ul class="nav-list">
            <li class="nav-item"><a  class="nav-link" href="#" >Home</a></li>
            <li class="nav-item"><a  class="nav-link" href="#" >Products</a></li>
            <li class="nav-item"><a class="nav-link" href="#" >Sign In</a></li>
        </ul>
        
    </nav>
</div> -->